pkgbase = ascii-viewer
	pkgdesc = Cross-platform ASCII picture viewer.
	pkgver = 0.0.0.0.0.0.0.0.0.0.1
	pkgrel = 1
	url = https://github.com/themartiancompany/ascii-viewer
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	depends = coreutils
	depends = libcrash-bash
	depends = kbd
	source = ascii-viewer-025d84bc26e36aa18bafa6aec0f4e2ffe0206a1c.zip::https://github.com/themartiancompany/ascii-viewer/archive/025d84bc26e36aa18bafa6aec0f4e2ffe0206a1c.zip
	sha256sums = 5bb40e7032bd16aeae6478b4c08ec5ac3a69e91f1e60a3b6749db244977cda31

pkgname = ascii-viewer
